<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-red-light">
    <div class="container flex justify-between items-center">
      <h1><a class="block" href="./"><img class="w-20 h-[72px] object-contain" src="./assets/images/logo-white.png"
            alt=""></a></h1>

      <a class="sm:hidden" href="#"><span class="material-symbols-outlined text-white text-5xl">menu</span></a>
      <ul class="text-white sm:flex gap-16 hidden">
        <li><a class="hover:underline hover:underline-offset-2" href="./product.html">系列鏡框</a></li>
        <li><a class="hover:underline hover:underline-offset-2" href="./location.html">門市據點</a></li>
        <li><a class="hover:underline hover:underline-offset-2" href="./blog.html">部落格</a></li>
        <li><a class="hover:underline hover:underline-offset-2" href="./question.html">常見問題</a></li>
      </ul>
    </div>
  </header>


    <ul class="flex justify-center">
        <li class="border border-r-0 w-full"><a class="block text-center font-medium py-4" href="product.html">OPTICAL</a></li>
        <li class="border border-r-0 w-full"><a class="block text-center font-medium py-4" href="product2.html">SUNGLASSES</a></li>
        <li class="border w-full"><a class="block text-center font-medium py-4" href="#">FUNCTIONAL</a></li>
    </ul>



    <%- contents %>

    <footer class="bg-red-light py-6 sm:pt-12 md:pb-8">
      <div class="container mx-auto">
        <div class="flex justify-between">
          <div>
            <ul class="text-white gap-12 mb-9 hidden md:flex">
              <li><a class="hover:underline hover:underline-offset-2" href="">首頁</a></li>
              <li><a class="hover:underline hover:underline-offset-2" href="">系列鏡框</a></li>
              <li><a class="hover:underline hover:underline-offset-2" href="">門市據點</a></li>
              <li><a class="hover:underline hover:underline-offset-2" href="">部落格</a></li>
              <li><a class="hover:underline hover:underline-offset-2" href="">常見問題</a></li>
            </ul>
            <ul>
              <li class="mb-2">
                <a class="flex gap-4 text-white" href="tel:0800-000-000">
                  <span class="material-symbols-outlined text-2xl sm:text-5xl">call</span>
                  <p class="sm:text-4xl hover:underline hover:underline-offset-2">0800-000-000</p>
                </a>
              </li>
              <li>
                <a class="flex gap-4 text-white" href="mailto:glasses@business.com">
                  <span class="material-symbols-outlined text-2xl sm:text-5xl">mail</span>
                  <p class="sm:text-4xl hover:underline hover:underline-offset-2">glasses@business.com</p>
                </a>
              </li>
            </ul>
          </div>

          <ul class="flex gap-2 sm:gap-4 md:gap-8">
            <li><a href=""><img class="w-6 h-6 sm:w-10 sm:h-10 md:w-12 md:h-12" src="./assets/images/ic-social-fb.png" alt=""></a></li>
            <li><a href=""><img class="w-6 h-6 sm:w-10 sm:h-10 md:w-12 md:h-12" src="./assets/images/ic-social-ig.png" alt=""></a></li>
            <li><a href=""><img class="w-6 h-6 sm:w-10 sm:h-10 md:w-12 md:h-12" src="./assets/images/ic-social-line.png" alt=""></a></li>
          </ul>
        </div>
        <ul class="text-white  md:flex justify-between border-t border-solid pt-6 mt-6 sm:pt-8 sm:mt-8">
          <li class="mb-2">Copyright © 2020 Glasses.All rights reserved.</li>
          <li class="flex flex-col gap-2 md:flex-row md:gap-12">
            <a class="hover:underline hover:underline-offset-2" href="#">隱私權政策</a>
            <a class="hover:underline hover:underline-offset-2" href="#">服務條款</a>
          </li>
        </ul>
      </div>

    </footer>
        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
</body>

</html>